* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color:#77C17A;
    height: 550px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    background-color:#364042;
    color: #ffff;
    justify-content:space-between;
    align-items: baseline;
}  
a {
    color: #ffff;
    text-decoration: none;
    padding: 15px;
}
.logo {
    padding-left: 15px;
}
.saida a:hover {
    color: chartreuse;
}
ul li {
    list-style: none;
}
.formulario {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
form {
    background-color: #ffff;
    border: solid 1px #364042;
    border-radius: 15px;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
}
label {
    margin-top: 10px;
}
select {
    width: 100%;
}

